/*
  Name:Jacquelyn Vera
  Date Created: 2026-02=23
  Date Modified: 2026-02-23
  Purpose: JS Hw1
*/

header {
    width: 100%;
    background-color: rgb(255, 192, 203);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(159, 223, 159);
    margin: 0;
    height: 100%;
    max-height: 100%;
    min-height: 100vh;
}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, moonspace;
    font-weight: bold;
    flex-grow: 1;
}

main{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    flex-grow: 1;
}

.image{
    text-align:left;
}

.td1{
    text-align: right;
    font-family:'optima', sans-serif;
    font-weight: normal;
}

th{
    text-align: center;
    font-family:'optima', sans-serif;
}

footer{
    position:flex;
    bottom: 0;
    width: 100%;
    background-color:rgb(255, 192, 203);
    height: 3.0 rem;
}

#footer{
    text-align:right;
    font-family:'optima', sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label{
    text-align: right;
    font-family:'optima', sans-serif;
    font-weight: normal;
}

input{
    text-align: left;
    font-family:'optima', sans-serif;
    font-weight: normal;
}

textarea{
    text-align: left;
    font-family:'optima', sans-serif;
    font-weight: normal;
}

#today{
    text-align: left;
    font-family:'optima', sans-serif;
    font-weight: normal;
    margin-right:5px;
}

p{
    text-align: center;
    font-family:'optima', sans-serif;
    font-weight: normal;
}
    

